@font-face {
    font-family: 'Open Sans';
    src: url('./fonts/fonts/OpenSans-ExtraBold.woff2') format('./fonts/woff2'),
        url('./fonts/fonts/OpenSans-ExtraBold.woff') format('./fonts/woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./fonts/fonts/OpenSans-Bold.woff2') format('./fonts/woff2'),
        url('./fonts/fonts/OpenSans-Bold.woff') format('./fonts/woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./fonts/fonts/OpenSans-Light.woff2') format('./fonts/woff2'),
        url('./fonts/fonts/OpenSans-Light.woff') format('./fonts/woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./fonts/fonts/OpenSans-ExtraBoldItalic.woff2') format('./fonts/woff2'),
        url('./fonts/fonts/OpenSans-ExtraBoldItalic.woff') format('./fonts/woff');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./fonts/fonts/OpenSans-Italic.woff2') format('./fonts/woff2'),
        url('./fonts/fonts/OpenSans-Italic.woff') format('./fonts/woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./fonts/fonts/OpenSans-BoldItalic.woff2') format('./fonts/woff2'),
        url('./fonts/fonts/OpenSans-BoldItalic.woff') format('./fonts/woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./fonts/fonts/OpenSans-LightItalic.woff2') format('./fonts/woff2'),
        url('./fonts/fonts/OpenSans-LightItalic.woff') format('./fonts/woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./fonts/fonts/OpenSans-SemiBold.woff2') format('./fonts/woff2'),
        url('./fonts/fonts/OpenSans-SemiBold.woff') format('./fonts/woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./fonts/fonts/OpenSans-Regular.woff2') format('./fonts/woff2'),
        url('./fonts/fonts/OpenSans-Regular.woff') format('./fonts/woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./fonts/fonts/2') format('./fonts/woff2'),
        url('./fonts/fonts/') format('./fonts/woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    display: block;
    text-decoration: none;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
ul{
    list-style: none;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
img{
    max-width: 100%;
}
html{
    
    scroll-behavior: smooth;
}
.navbar{
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}
.navbar .container{
    display: flex;
    align-items: center;
    padding: 16px 0;
}
.nav-list{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 24px;
}
.nav-item{
    margin-left: 32px;
}
.nav-link{
    color: #000;
    font-size: 15px;
}
.nav-link:hover{
    color: #00BAFC;
}
.nav-button{
    text-align: center;
    background-color: #00BAFC;
    padding: 8px 16px;
    color: #fff;
    font-size: 15px;
    border: none;
    border-radius: 5px;
}
.nav-button:focus{
    outline: none;
}
.nav-button:hover{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.main-section .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 80px;
    
}
.main-content{
    width: 40%;
}
.content-title{
    color: #000;
    font-size: 30px;
    padding-bottom: 16px;
}
.content-item-info{
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 16px;
}
.content-link{
    display: inline-block;
    background-color: #00BAFC;
    padding: 8px 16px;
    color: #fff;
    border-radius: 5px;
}
.content-link:hover{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.main-iframe{
    width: 458px;
    height: 258px;
    border-radius: 5px;
}
.services-section .container{
    text-align: center;
    padding-bottom: 56px;
}
.service-name{
    padding-top: 56px;
    font-size: 24px;
    text-align: center;
}
.service-info{
    font-size: 16px;
    line-height: 24px;
    width: 719px;
    text-align: center;
    margin: 0 auto;
}
.service-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 54px;
}
.service-item{
    text-align: center;
    margin-bottom: 48px;
    width: 30%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 24px 56px;
}
.service-thumb{
    max-width: 100%;
    height: auto;
}
.service-title{
    font-size: 20px;
    padding: 16px 0;
}
.service-item-info{
    padding-bottom: 24px;
}
.service-links{
    display: flex;
    align-items: center;
    justify-content: center;
}
.booking-link{
    display: inline-block;
    margin-right: 16px;
    background-color: #00BAFC;
    color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    text-align: center;
}
.booking-link:hover{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.moving-link{
    color: #00BAFC;
}
.moving-link:hover{
    text-decoration: underline;
}
.works-section .container{
    padding: 56px 0;
    display: flex;
    flex-direction: column;
}
.works-title{
    font-size: 24px;
    text-align: center;
    padding-bottom: 14px;
}
.works-info{
    width: 719px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 44px;
}
.works-list{
    display: flex;
    flex-direction: column;
}
.works-item{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.works-img{
    width: 40%;
}
.works-content{
    padding: 32px;
    width: 60%;
}
.works-content-name{
    font-size: 20px;
    margin-bottom: 15px;
}
.works-content-info{
    font-size: 16px;
    width: 493px;
}
.order{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 55px;
}
.contact-section{
    background-color: #00BAFC;
}
.contact-section .container{
    display: flex;
    flex-direction: column;
    padding: 56px 0;
    text-align: center;
}
.contact-name{
    color: #fff;
    font-size: 24px;
    padding-bottom: 16px;
}
.contact-info{
    color: #fff;
    font-size: 16px;
    line-height: 150%;
    width: 719px;
    margin: 0 auto;
    padding-bottom: 24px;
}
.contact-form{
    background-color: #fff;
    width: 35%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 24px;
    border-radius: 5px;
    
}
.label-input{
    width: 90%;
    padding: 16px;
    margin-bottom: 16px;
    border: none;
    background-color: #f3f3f3;
    border-radius: 5px;
}
.select{
    width: 90%;
    padding: 16px;
    margin-bottom: 16px;
    border: none;
    background-color: #f3f3f3;
    border-radius: 5px;
}
.b1{
    width: 50%;
    padding: 16px;
    margin: 0 auto;
}
.bottom{
    background-color: #000;
    color: #fff;
}
.bottom-list{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding: 56px 0;
    color: #fff;
}
.bottom-info{
    width: 320px;
    padding-top: 16px;
    font-size: 16px;
    line-height: 150%;
}
.bottom-link, .small-bottom-link{
    color: #fff;
}
.small-bottom-link:hover{
    color: #00BAFC;
}
.bottom-link:hover{
    color: #00BAFC;
}
.small-bottom-list{
    padding-top: 16px;
}
.small-bottom-item{
    padding-top: 8px;
}
.social-link{
    color: #fff;
    display: flex;
    align-items: center;
}
.social-link:hover{
    color: #00BAFC;
}
.small-list{
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    
}
.small-item{
    padding-bottom: 8px;
}
.social-name{
    padding-left: 8px;
}
.menu-img{
    display: none;
}
@media(max-width:1140px){
    .container{
        width: 1040px;
    }
}
@media(max-width:1040px){
    .container{
        width: 940px;
    }
    .contact-form{
        width: 40%;
    }
}
@media(max-width:940px){
    .container{
        width: 840px;
    }
    .works-img{
        width: 30%;
    }
    .b1{
        width: 60%;
    }
}
@media(max-width:840px){
    .container{
        width: 740px;
    }
    .main-section .container{
        padding-top: 50px;
        justify-content: space-around;
    }
    .nav-button, .nav-list{
        display: none;
    }
    .menu-img{
        display: block;
        width: 35px;
        margin-left: auto;
    }
    .works-content-info{
        width: 450px;
    }
    .works-img{
        width: 25%;
    }
    .main-iframe{
        width: 358px;
        height: 358px;
    }
}
@media(max-width:740px){
    .container{
        width: 640px;
    }
    .main-section .container{
        flex-direction: column-reverse;
    }
    .main-iframe{
        width: 478px;
        height: 278px;
    }
    .main-content{
        text-align: center;
        width: 80%;
    }
    .content-title{
        padding-top: 26px;
        font-size: 25px;
    }
    .service-info{
        padding-top: 15px;
        width: 70%;
    }
    .service-item{
        width: 40%;
    }
    .works-list{
        width: 100%;
        margin: 0 auto;
    }
    .works-item{
        justify-content: space-between;
        width: 100%;
        margin: 0 auto;
    }
    .right{
        margin-left: 35px;
    }
    .left{
        margin-right: 35px; 
    }
    .works-info{
        width: 70%;
    }
    .works-content-info{
        width: 300px;
    }
    .contact-info{
        width: 90%;
    }
    .contact-form{
        width: 55%;
    }
    .nav-list{
        margin-right: 0;
    }
    .movers{
        display: none;
    }
}
@media(max-width:640px){
    .container{
        width: 540px;
    }
    .service-item{
        width: 40%;
    }
    .works-list{
        width: 70%;
    }
    .works-item{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .right{
        margin-left: 0;
    }
    .works-item:nth-child(even){
        flex-direction: column-reverse;
    }
    .bottom-list{
        justify-content: space-between;
        flex-wrap: wrap;
        width: 80%;
        margin: 0 auto;
    }
    .bottom-item{
        width: 40%;
    }
    .bottom-info{
        width: 250px;
    }
    .works-content{
        width: 80%;
    }
    .nav-list{
        display: none;
    }
}
@media(max-width:540px){
    .container{
        width: 440px;
    }
    .main-content{
        width: 90%;
    }
    .service-item{
        width: 60%;
    }
    .service-links{
        display: flex;
        flex-direction: column;
    }
    .moving-link{
        padding-top: 25px;
    }
    .works-list{
        width: 90%;
    }
    .contact-form{
        width: 75%;
    }
    .bottom-list{
        width: 90%;
    }
    .bottom-item{
        width: 55%;
        padding-bottom: 25px;
        text-align: center;
        margin: 0 auto;
    }
    .small-list{
        width: 100%;
        margin: 0 auto;
    }
}